
.expanded {
    height: 100%;
    transition: all .2s ease-out;
    cursor: pointer;
}
.faq__answer {
    opacity: 0;
}
.expanded {
    .faq__answer {
        opacity: 1;
    }
    .faq__arrow {
        transform: rotate(180deg);
    }
} 
