
.scrolling {
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.rotate {
    transition: all .2s ease-out;
    transform: rotate(180deg);
}
.expanded {
    height: 100%;
    transition: all .2s ease-out;
    cursor: pointer;
}
.faq__answer {
    opacity: 0;
    display: none;
}
.expanded {
    .faq__answer {
        opacity: 1;
        display: block;
    }
    .faq__arrow {
        transform: rotate(180deg);
    }
} 

//burger animation

.active {
    &:after {
        transform: translateY(-7px) rotate(-135deg);
    }
    &:before {
        transform: translateY(7px) rotate(135deg);
    }
    div {
        // transform: scale(0);
        opacity: 0;
    }
}