body {
    font-family: 'Noto Sans TC', sans-serif;
}
html, body { 
    margin:0;
    padding:0;
    width:100%;
    overflow: auto;
    }
// colors 

$teal: #43A5A1;
$tealLightest: #EDF8F7;
$red: #F64F64;

$greyDark: #151922;
$grey: #383C43;
$greyLight: #B9BABD;
$greyLight2:  #E8E8E9;
$greyLightest: #F8F8F8;

%transition {
    cursor: pointer;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}

%button {
    @extend %transition;
    background: $teal;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: fit-content;
    cursor: pointer;
    &:focus {
        outline: 0;
        border: 1px solid #347f7c;
    }
    &:hover {
        background-color: #80cbc8;
    }
    &:disabled {
        background-color: $greyLight2;
        color: $greyLight;
    }
}

.button-small {
    @extend %button;
    border-radius: 2px;
    padding: 6px 15px;
    margin: 0 14px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.button-medium {
    @extend %button;
    padding: 9px 20px;
    margin-top: 60px;
}

.button-large {
    @extend %button;
    padding: 12px 24px;
}

.heading {
    margin: 0 auto;
    color: $grey;
    font-weight: bold;
}