body {
    font-family: 'Noto Sans TC', sans-serif;
}

// colors 

/* Teal / Base */
$teal: #43A5A1;
$tealLightest: #EDF8F7;

$red: #F64F64;

// grey navbar 
$greyDark: #151922;
$grey: #383C43;
$greyLight: #B9BABD;
$greyLight2:  #E8E8E9;
$greyLightest: #F8F8F8;



