body {
    font-family: 'Montserrat', sans-serif;
}
.heading {
    margin: 0 auto;
}

// colors 

/* Teal / Base */
$teal: #43A5A1;
$tealLightest: #EDF8F7;

$red: #F64F64;

// grey navbar 
$greyNav: #151922;
$grey: #383C43;
$greyLight: #B9BABD;
$greyLightest: #F8F8F8;


