.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.App {
    padding-top: 56px;
}

.header {
    position: fixed;
    top: 16px;
    width: 100%;
    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

// business page components

.getStarted {
    border-top: 3px solid black;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;

    &__heading-block {
        display: flex;
        flex-direction: column;
    }
}

.passwords {
    border-top: 3px solid black;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__table-headers {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    &__list {
        width: 100%;
        text-align: center;
    }
    &__list-row {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.faq {
    border-top: 3px solid black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .collapsed {
        cursor: pointer;
        height: 56px;
        transition: all .2s ease-out;
        overflow: hidden;
    }
    &__question {
        display: flex;
        justify-content: space-between;
    }
    &__arrow {
        transition: all .2s ease-out;
    }
}

.contact {
    border-top: 3px solid black;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    // align-items: center;
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer {
    border-top: 3px solid black;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}